= provide :title, 'Assignments'

.center.hero-unit
  %h1 Assignments
  %p
    To submit assignments, put all relevant files in a .zip archive and email to
    them to
    %a{href: 'mailto:java.and.robotics.epgy@gmail.com'}java.and.robotics.epgy@gmail.com
 
  %h2 Assignment 1 - Karel the Robot
  %h3 Assignment files
  %p= link_to 'Starter code', '/downloads/Assignment1.zip'
  %p= link_to 'Write-up', '/downloads/assignment1.pdf'
  %p= link_to 'Challenge problems', '/downloads/assign1_challenge.pdf'
  %h3 Helpful links
  %p= link_to 'Karel reference', '/downloads/karel_reference.pdf'
