= provide :title, 'Assignments'

.center.hero-unit
  %h1 Assignments
  %p
    To submit assignments, put all relevant files in a .zip archive and email to
    them to
    %a{href: 'mailto:java.and.robotics.epgy@gmail.com'}java.and.robotics.epgy@gmail.com
 
  %h2 Assignment 1 - Karel the Robot
  %h3 Assignment files
  %p= link_to 'Starter code', '/downloads/Assignment1.zip'
  %p= link_to 'Write-up', '/downloads/assignment1.pdf'
  %p= link_to 'Challenge problems', '/downloads/assign1_challenge.pdf'
  %h3 Helpful links
  %p= link_to 'Karel reference', '/downloads/karel_reference.pdf'

  %h2 Assignment 2 - Variables and ConsolePrograms
  %h3 Assignment files
  %p= link_to 'Starter code', '/downloads/Assignment2.zip'
  %p= link_to 'Write-up', '/downloads/assignment2.pdf'

  %h2 Assignment 3 - Arrays, objects, and GraphicsPrograms
  %h3 Assignment files
  %p= link_to 'Starter code', '/downloads/Assignment3.zip'
  %p= link_to 'Write-up', '/downloads/assignment3.pdf'
  %h3 Helpful links
  %p= link_to 'ACM documentation', 'http://www-cs-faculty.stanford.edu/~eroberts//jtf/javadoc/student/index.html'

  %h2 Assignment 4 - Interactive GraphicsPrograms
  %h3 Lecture notes
  %p= link_to 'Notes', '/lectures/lecture4.zip'
  %h3 Assignment files
  %p (No starter code, extension of Assignment 3)
  %p= link_to 'Write-up', '/downloads/assignment4.pdf'
