= provide :title, 'Resources'

.center.hero-unit
  %h1 Resources

  %p= link_to 'Karel reference', '/downloads/karel_reference.pdf'
  %p= link_to 'Blank Karel project', '/downloads/BlankKarel.zip'
  %p= link_to 'Blank console project', '/downloads/BlankProject.zip'
  %p= link_to 'Blank graphics project', '/downloads/BlankGraphicsProject.zip'
  %p= link_to 'ACM documentation', 'http://www-cs-faculty.stanford.edu/~eroberts//jtf/javadoc/student/index.html'
  %p= link_to 'How to create and run a LeJOS program', '/downloads/lejos_instructions.pdf'
  %p= link_to 'Basic Mindstorms methods', '/downloads/motor_reference.pdf'
  %p= link_to 'Full LeJOS Javadocs', 'http://lejos.sourceforge.net/nxt/nxj/api/index.html' 
  %p= link_to 'How to export your Java programs to standalone applications', '/downloads/export_acm.pdf'
